.header {
  color: rgb(0, 0, 0);
  padding-top: 48px;
}
.container {
  width: 100%;
  overflow-x:auto;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
#external-events {    
  /* z-index: 0; */
  overflow-y: hidden;
  position: relative;
  align-self: center;
  justify-content: center;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #fff;
  float: left;
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

#events .fc-event {
  margin: 1em 0;
  cursor: grab;
  }

.draggable {
  padding: 0.2rem;
  width: 100px;
  /* background-color: #0dcaf0; */
  border: 1px solid lightgrey;
  cursor: grabbing;
  gap: 12px;
  color: #0c0101;
  overflow: hidden;
  z-index: 1;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.divs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bttn {
  align-items: center;
  align-self: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
}
  
.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.btn-info {
  color: #fff !important;
  height: 38px;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
  
}
 
.nextBtn {
  display: flex !important;
  flex-direction: row-reverse !important;
}

.divBtn {
  display: flex;
  justify-content: space-between !important;
  z-index: 1;
  width: 73%;
}

.btnsave:hover,
.btnsave:active,
.btnsave:visited,
.btnsave:focus {
  color: #2f9207 !important;
  border: #2f9207 !important;
}

.publishBtn {
  display: flex !important;
  flex-direction: row-reverse !important;
  background-color: #5cf09c !important;
  margin-top: 12px;
}